.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;    
}

.header {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(141, 9, 86);
    color: #fff;
}

h1 {
    font-size: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 219, 13);
    color: black;
}   

navbar div {
    padding: 50px;
}    

.image {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%;;
    padding: 20px;
    max-width: 200px;
}

.About Me {
    display: flex
    flex-direction: column;
    position: relative;
    max-width: 10px;
    max-height: 10px;
}

.Examples {
    max-width: 100px;
}

.Contact Me {
    max-width: 100px;
}