* {
    box-sizing: border-box;
}
  
@media screen and (max-width: 500px) {
    .body {
        width: 50px;
    }
  }

.body {
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    margin: 5px;
}

.header {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(141, 9, 86);
    color: #fff;
}

h1 {
    display: inline-block;
    font-size: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2px;
}

.navbar {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-wrap: wrap;
}   

button {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 .5%;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.image {
    display: flex;
    flex-flow: column wrap;
    flex-basis: auto;
    align-items: center;
    align-content: center;

}

p {
    display: flex;
    padding: 5px;    
    font-size: 30px;
    background-color: rgb(141, 9, 86);
    color: #fff;
}

.container div {
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(141, 9, 86);
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 5px;
    margin: 10px;
}

.about-me {
    padding: 5px;
    margin: 5px;
    border: rgb(255, 219, 13)
}

.about-me-img {
    flex-wrap: wrap;
    flex: 1 0 100px;
    margin: 20px;
    max-width: 500px;
    min-width: 10px;
}

.examples {
    padding: 5px;
    margin: 5px;
}

.examples-img {
    margin: 20px;
    max-width: 500px; 
}

.example-1 {
    max-width: 10px;
    max-block-size: 2px;
    align-content:space-around;
    ;
}

.example-1:hover {
    
}

.example-2 {
    max-width: 10px;
    max-block-size: 2px;
    position: relative;
    margin: 10px;
    border: 10px;
    align-content:space-between;
}

.example-2:hover {
    font-size:x-large;
}

.contact-me {
    padding: 5px;
    margin: 5px;
}

.contact-me-img {
    margin: 20px;
    max-width: 500px; 
}

.container div li {
    padding: 5px;    
    font-size: 30px;
    background-color: rgb(141, 9, 86);
    color: #fff;
}
